html, body{
    width:100%;
    height:100%;
}

.main{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-content: center;
}

.card{
    display:flex;
    flex-direction: column;
    /*flex-flow*/
    margin: auto 0;
    background-color:yellow;
    width:300px;
    /*height:400px;*/
    align-items: center;
}

img{
    height: auto;
    width: 100%;
}
